*,h1,h2,h3,h4,h5,h6,p {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    position: relative;
}

#clotheData {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/* 开关按钮样式 */
.switch {
    width: 120px; /* 开关宽度，包括选项 */
    height: 30px; /* 开关高度 */
    overflow: hidden;
    background-color: #ccc; /* 默认背景颜色 */
    border-radius: 30px; /* 圆角 */
    position: absolute; /* 相对定位 */
    right: 0;
    bottom: 100%;
    margin-bottom: 12px;
    cursor: pointer; /* 鼠标指针样式 */
    transition: background-color 0.3s ease; /* 背景颜色变化动画 */
}
.switch .slider {
    width: 50%; /* 滑块宽度 */
    height: 30px; /* 滑块高度 */
    background-color: #3498db; /* 滑块背景颜色 */
    position: absolute; /* 绝对定位 */
    top: 0; /* 与开关顶部对齐 */
    transition: left 0.3s ease; /* 滑块位置变化动画 */
}

/* 开关按钮内的选项样式 */
.switch .options {
    display: flex; /* 水平排列选项 */
    justify-content: space-between; /* 选项之间的空间分配 */
    align-items: center; /* 垂直居中 */
    padding: 0 12px; /* 左右内边距 */
    position: absolute; /* 绝对定位 */
    top: 0; /* 与开关顶部对齐 */
    width: 100%; /* 选项宽度 */
    height: 100%; /* 选项高度 */
}

.switch .option {
    color: #fff; /* 选项文本颜色 */
    font-weight: bold; /* 加粗字体 */
    transition: color 0.3s ease; /* 文本颜色变化动画 */
}

/* 开关按钮的状态，即开启时的样式 */
.switch.on .slider {
    right: 0; /* 将滑块移动到右侧，表示开启状态 */
}




.scrollTable {
    max-width: 800px;
    overflow-x: scroll;
    white-space: nowrap;
    border: 1px solid #cecece;
    padding: 16px;
}

.dataTable {
    width: 100%;
}

#clotheData > div > table > thead > tr > th,

#clotheData > div > table > tbody > tr > td {
    padding: 12px;
    border: 1px solid #cecece;
    text-align: center;
}

#clotheData > div > table > thead > tr > th {
    background-color: #d9f4ff;
}