* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#size-table {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scroll-container {
    max-width: 900px;
    overflow-x: scroll;
    white-space: nowrap;
    border: 1px solid #ccc;
    display: flex;
    padding: 16px;
}

#sizeTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ccc;
}

#sizeTable th {
    background-color: #f2f2f2;
    text-align: center;
    padding: 8px;
    border: 1px solid #ccc;
}

#sizeTable td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ccc;
}